Primero voy a listar todos los ficheros de mi Bucket (rcmh_bucket)

In [22]:
%%gcs list --objects gs://rcmh_bucket

Ahora voy a leer el fichero test.csv en un DataFrame de Pandas y usando %gcs

In [23]:

import pandas as pd
import csv
from io import BytesIO

%gcs read -o "gs://rcmh_bucket/test.csv" -v turismo

In [24]:
df = pd.read_csv(BytesIO(turismo), sep = ';')
df.head()

,MES,ANYO,IDSEC,ORDEN_VIAJE,ORDEN_REP,CCAADEST,PROVDEST,PAISDEST,DESTESP,MOTIV,...,RELAECON,SITPROF,TIPHOGAR,MH,VIVSEC,INGR_HOG,CORR15_VT,FACTORVI_15MAS,FACTORVI_TOT,FACTORGAS_TOT
0,9,2018,819,1,1,1,4,108,1,2,...,1.0,3.0,4,4,6,3,"2,215412","2619,418503","5803,091185","4211,254844"
1,9,2018,11942,2,1,1,14,108,1,7,...,1.0,3.0,4,3,6,4,1,"2698,348184","2698,348184","2698,348184"
2,9,2018,4340,1,1,7,24,108,1,8,...,4.0,NaN,4,4,6,3,1,"5755,083073","5755,083073","5755,083073"
3,9,2018,5621,2,1,7,37,108,1,7,...,4.0,NaN,4,4,1,5,"1,369891","3186,051488","4364,543259","3775,297374"
4,9,2018,1135,1,1,10,46,108,1,18,...,1.0,1.0,3,2,1,2,1,"2008,46348","2008,46348","2008,46348"

Ahora voy a escribir la variable turismo en otro fichero llamado test2.csv en mi bucket

In [34]:
%%gcs write -v turismo -o "gs://rcmh_bucket/test2.csv"